<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot2demo6.mapper.TEmployeeMapper">

    <resultMap id="BaseResultMap" type="com.example.springboot2demo6.domain.TEmployee">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="lastName" column="last_name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="dId" column="d_id" jdbcType="INTEGER"/>
            <result property="empStatus" column="emp_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,last_name,gender,
        email,d_id,emp_status
    </sql>
</mapper>
